<header class="toolbar">
  <nav>
    <a routerLink="/" class="nav-item">Home</a>
    <a routerLink="/about" class="nav-item">About</a>
    <a routerLink="/blog" class="nav-item">Blog</a>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer-container">
    🌼 Embrace simplicity. Foster community. Cherish heritage. Welcome to
    'Little House in the Modern World.' Footer: [Links to About, Blog,
    Workshops, Book Club, Contact] © 2023 Little House in the Modern World. All
    rights reserved.
  </div>
</footer>
